.actionBarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #191919;
    height: 60px;
}

.componentsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 43px;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 118px;
    background-color: white;
    border: none;
    border-radius: 3px;
}

.actionBarIcon{
    color: white;
    width: 24px;
    height: 24px;
}

.actionBarWord{
    color:white;
    font-size: 11.2px;
}